<%= form_tag :action => 'landing' do %>
  <span class="gn-input"><div><label>Correo</label><%= text_field_tag :EMAIL, nil, :placeholder => " escribe aqui" %>
  <label>C.P</label> <%= text_field_tag :CP, nil, :placeholder => " 00000" %></div></span>
  <span class="gn-btn"><div><%= submit_tag '¡Únete!' %></div></span>
<% end %>
<% if is_success?(@response) %>
  <b>Gracias por Unirse a Goninis!</b>
<% else %>
<% end %>