<div id="test-form">
  <form id="new_user" class="new_user" action="http://www.goninis.com/users/new" method="GET">
  <h2>¡Empecemos!, completa tu información básica</h2>

  <div class="login-form wrapper">
    <h3>Cuenta</h3>
    <div class="contact-wrapper">
      <div class="field">
        <input type="text" name="name" id="user_name" placeholder="Nombre">
        <input type="text" name="lastname" id="user_lastname" placeholder="Apellido(s)">        
      </div>
      <div class="field">
        <input type="text" name="email" id="user_email" placeholder="Correo electrónico">
      </div>
      <div class="field">
        <input type="password" name="password" id="user_password" placeholder="Contraseña">
        <input type="password" name="password_confirmation" id="user_password_confirmation" placeholder="Reconfirmar">
      </div>
    </div>
     <h3>Dirección</h3>
    <div class="address-wrapper">
      <div class="field">
        <input type="text" name="calle" id="user_calle" placeholder="Calle y número">
      </div>
      <div class="field">
        <input type="text" name="cp" id="user_cp" placeholder="Código postal">
        <input type="text" name="colonia" id="user_colonia" placeholder="Colonia">
      </div>
      <div class="field">
        <input type="text" name="ciudad" id="user_ciudad" placeholder="Ciudad">
        <input type="text" name="phone" id="user_phone" placeholder="Teléfono">
      </div>
    </div>
    <h3>Fecha de nacimiento</h3>
    <div class="birthdate-wrapper">  
      <div class="field">
        <select name="day">
          <option>Día</option>
          <%
          limit = 31;
          for counter in 1..limit %>
            <option><%= sprintf '%02d', counter %></option>
          <% end
          %>
        </select>
        <select name="month">
          <option>Mes</option>
          <%
          limit = 12;
          for counter in 1..limit %>
            <option><%= sprintf '%02d', counter %></option>
          <% end
          %>
        </select>
        <select name="year">
          <option>Año</option>
          <%
          limit = 2014;
          for counter in 1900..limit %>
            <option><%= sprintf '%02d', counter %></option>
          <% end
          %>
        </select>
      </div>
    </div>
    <div class="gender-wrapper">
      <div class="field">
        <input type="radio" name="genero" value="f" />Mujer
        <input type="radio" name="genero" value="m" />Hombre
      </div>
    </div>
  </div>

  <div class="prefs bg">
    <div class="oficios"></div>
    <div class="profesion"></div>
  </div>
  <div class="actions">
    <input type="submit" value="" name="commit">
  </div>
</form>
</div>