<div id="gn">
  <div class="gn-inner-body como">
    <%= render partial: "shared/left-menu" %>
    <section id="gn-content">
      <section id="gn-content-video"><!--<img src="http://img.youtube.com/vi/_mO79hZaA2s/maxresdefault.jpg" alt="" class="video-thumbnail"/>--><!--<iframe class="video-url" src="http://www.youtube.com/embed/_mO79hZaA2s" frameborder="0" allowfullscreen></iframe>-->
        <div class="gn-content-video-border-left"></div>
        <div class="video-popup"><h1>&iquest;Necesitas m&aacute;s tiempo en tu d&iacute;a?,</h1><h4>lo hacemos posible</h4>
        <div class="video-play"></div><span>(aqu&iacute; te explicamos)</span></div>
        <div class="gn-content-video-border-right"></div>
      </section>
      <section class="como header">&nbsp;</div>
    </section>
  </div>
</div>