<div id="gn">
  <div class="gn-inner-body condiciones">
    <%= render partial: "shared/left-menu" %>
    <section id="gn-content">
      <div class="condiciones section header">
          <h1>CONDICIONES GENERALES DE ACCESO Y USO DEL WEBSITE</h1>
          <br/>
          <p>Última actualización: 09 de Mayo de 2013</p>
          <br/>
      </div>
      <section class="condiciones body">
       <br />
       <br />
       <h2>1.- Información General</h2>
       <br />
       <br />
       <p>
        El acceso y uso del website www.goninis.com –en adelante WEBSITE- es ofrecido por la compañía de nacionalidad mexicana GONINIS SAPI -en adelante GONINIS- domiciliada en _________________________________; consta inscrita en el Registro Mercantil de ________________, Folio ____, Hoja nº _________, y con RFC ___________
Para cualquier cuestión o duda que esté relacionada con el acceso y uso del WEBSITE o de las presentes Condiciones Generales de Acceso y Uso (en adelante, CGAU) puede dirigir un correo electrónico con su solicitud y datos de contacto a la siguiente dirección: soporte@goninis.com. Además, puede contactar con nosotros dirigiendo su solicitud y datos de contacto a  GONINIS SOLUTIONS, S.L. ________________________________.
Sin perjuicio de ello, GONINIS podrá transmitir notificaciones a través de la página de inicio de la página Web, a fin de informar al Usuario acerca de los cambios introducidos en el WEBSITE. Dichas notificaciones serán consideradas como válidas y por ende, como notificaciones al Usuario.
       </p>
       <br />
       <h2>2.- Aceptación de las presentes Condiciones Generales de Acceso y Uso</h2>
       <br />
       <p>
        2.1. – El acceso y navegación por el WEBSITE implica automáticamente la aceptación expresa de las presentes CGAU, por lo que las personas que accedan y naveguen por el WEBSITE se obligan a cumplirlas y respetarlas bajo su exclusiva responsabilidad.
       </p>
       <p>
        2.2. – A fin de obtener la mejor efectividad del WEBSITE, GONINIS podrá denegar o restringir el acceso a Usuarios que no respeten las presentes CGAU sin necesidad de previa notificación.
       </p>
       <p>
        2.3. – Las presentes CGAU podrán ser modificadas por GONINIS en cualquier momento sin previo aviso, cuando se considere conveniente, oportuno o necesario para optimizar y/o adecuar la regulación del acceso y uso del WEBSITE. Una vez introducida la referida modificación, si el Usuario sigue accediendo y utilizando las distintas herramientas del WEBSITE se entenderá que acepta dichas modificaciones, de lo contrario deberá abstenerse de su utilización.
       </p>
       <p>
        2.4. Sin perjuicio de las presentes CGAU, GONINIS podrá establecer determinadas condiciones particulares, que serán de obligado cumplimiento para el acceso y uso de algunos de los servicios que ofrece el WEBSITE. Además de las presentes CGAU, para el acceso y uso del WEBSITE, deberá respetarse la Política de Privacidad y Protección de Datos que se indica en las presentes condiciones generales.
       </p>
       <p>
        2.5. – A los efectos de las presentes CGAU, se entenderá como Usuario cualquier persona que acceda y navegue por el WEBSITE, con independencia de si se registra cumplimentando los formularios de registro y/o utiliza cualquiera de los servicios que éste ofrece, sea gratuito o sujeto al pago de una cantidad determinada.
       </p>
       <br />
       <h2>3.- Breve descripción del WEBSITE y finalidad de uso</h2>
       <br />
       <p>
        3.1. – EL WEBSITE está configurado como punto de encuentro y para el uso de trabajadores autónomos ofertantes de servicios profesionales de distinto tipo y empresas y profesionales demandantes de los mismos.
       </p>
       <p>
        3.2. – EL WEBSITE no realiza ninguna actividad de intermediación laboral ni de agente intermediario con ninguno de los Usuarios del WEBSITE, ni es parte de cualquiera de los contratos de prestación de servicios que los Usuarios puedan suscribir entre ellos .En ningún caso, GONINIS garantiza la calidad del servicio prestado por el trabajador autónomo ofertante, ni la presencia de la oferta en el WEBSITE supone recomendación alguna sobre su prestación ni sobre el grado de satisfacción de su resultado.
       </p>
       <p>
        3.3. – A fin de facilitar la contratación de los servicios ofrecidos, el WEBSITE pone a disposición de los Usuarios del mismo un conjunto de herramientas informáticas que permiten, entre otros, el acceso a una gran variedad de ofertas de servicios y de proyectos, la selección de ofertas y proyectos en distintos ámbitos según múltiples parámetros de búsqueda, ponerse en contacto con el profesional o empresa seleccionado para negociar las condiciones de la oferta o instrumentar vehículos seguros de pago.
       </p>
       <p>
        3.4. – Además, el WEBSITE pone a disposición de los handys la posibilidad de contratar, de forma adicional y en condiciones atractivas, diferentes servicios para facilitar y dinamizar la propia actividad profesional, orientados tanto a la gestión del negocio como a la optimización y crecimiento de su negocio o cualquier otro que GONINIS decida introducir. Dichos servicios serán prestados por profesionales externos a GONINIS y al WEBSITE y serán objeto de contratación separada con los mismos, la cual quedará sujeta a condiciones específicas.
       </p>
       <p>
        3.5. – Finalmente, los Usuarios tendrán acceso a una oferta variada de productos y servicios que GONINIS decida ofrecer a sus Usuarios en cada momento.
       </p>
       <p>
        3.6. – Sin perjuicio de lo anterior, GONINIS quedará facultada para modificar en cualquier momento y sin previo aviso el look & feel (diseño, imagen, presentación y configuración o funcionamiento), así como el contenido del WEBSITE y las funcionalidades incluidas en éste, eliminando, modificando, añadiendo nuevas o sujetándolas a condiciones específicas, sin que ello suponga alteración de los acuerdos o de la relación comercial entre GONINIS y el Usuario.
       </p>
       <p>
        3.7. – Para poder acceder al servicio deberá contarse necesariamente con un equipo informático, con los programas y configuraciones necesarias para el adecuado funcionamiento del WEBSITE y con conexión a Internet. Los gastos relativos a la conexión serán por cuenta exclusiva del Usuario.
       </p><br />
       <h2>
        4.- Registro: Obtención del código de usuario y contraseña
       </h2>
       <br />
       <p>
        4.1. – Para proceder a utilizar determinadas funcionalidades del WEBSITE será necesario ser mayor de edad y haberse registrado previamente siguiendo las instrucciones que se incluyen en el mismo, accesibles a través de la opción “Registro”. El acceso y registro para el ofrecimiento de servicios está reservado exclusivamente a personas y profesionales autónomos, quienes deberán cumplimentar un formulario especialmente diseñado para tal fin.
       </p>
       <p>
        4.2. – El Usuario garantiza bajo su propia responsabilidad la exactitud de la información proporcionada, que deberá mantenerse actualizada en todo momento, eximiendo expresamente a GONINIS de las consecuencias y daños que la inexactitud de la misma pueda originar a terceros.
       </p>
       <p>
        4.3. – Una vez cumplimentados todos los campos obligatorios, el usuario celebra un contrato con GONINIS a través de un procedimiento de registro en línea, una vez hecho uso del enlace de activación que se incluye en el correo electrónico de verificación enviado por GONINIS que le permitirán el acceso y uso del WEBSITE en las condiciones que hayan sido contratadas.
       </p>
       <p>
        4.4. – El código de identificación de Usuario y la clave de acceso son totalmente personales e intransferibles, asignados única y expresamente para el Usuario, responsabilizándose el mismo frente a GONINIS y a terceros de la correcta utilización y de la no transmisión ni divulgación a terceras personas físicas y/o jurídicas que no sean dicho Usuario o persona expresamente facultada por él para contratar en su nombre.
       </p>
       <p>
        4.5. – En el caso de cualquier pérdida o robo de las claves de acceso, uso no autorizado del WEBSITE o de los códigos, así como de cualquier violación de seguridad de la misma de la que haya tenido conocimiento el Usuario éste se obliga a notificar dicha incidencia a GONINIS de inmediato. En este caso, el Usuario tendrá derecho a que se le dé otro código de identificación y otra clave para poder acceder al WEBSITE.
       </p>
       <p>
        4.6. – El WEBSITE no asume la obligación ni dispone de los medios técnicos para comprobar la identidad de quienes se registran en el mismo. Por ello, el WEBSITE no será responsable en caso de usurpación de la identidad del Usuario.
       </p>
       <p>
        4.7. – GONINIS se reserva el derecho a rechazar cualquier solicitud de registro cuyo contenido no se ajuste a las finalidades del WEBSITE.
       </p>
       <br /><h2>5.- Código de conducta y términos de acceso y uso del WEBSITE.</h2><br />
       <br /><h3>Usuarios que pueden usar la plataforma.</h3><br />
       <p>
        Todos los Usuarios del WEBSITE deben ser personas con capacidad jurídica que hayan cumplido los 18 años de edad. Sólo pueden celebrar contratos con GONINIS, personas físicas que trabajan por cuenta propia o sociedades legalmente constituidas con capacidad para celebrar transacciones legales.
       </p>
       <p>
        El correcto comportamiento de los Usuarios es esencial para el buen funcionamiento del servicio. A continuación se detalla el código de conducta que éstos deberán tener para acceder y utilizar el WEBSITE, indicándose expresamente que el cumplimiento de lo descrito a continuación es condición esencial para la utilización del WEBSITE.
       </p>
       <br />
       <h3>Código de Conducta de Usuarios.</h3>
       <br />
       <p>
        A) Los Usuarios declaran bajo su exclusiva responsabilidad que van a actuar cumpliendo con la normativa aplicable, de forma responsable, respetuosa, diligente y con total buena fe.
       </p>
       <p>
        B) En especial, el Usuario garantiza que los servicios que ofrece y que puede ser objeto de acuerdo con otros Usuarios no son ilegales, inmorales, prohibidos ni atentan o infringen derechos de terceros, y que cuenta con todas las autorizaciones y demás requisitos exigidos por el ordenamiento jurídico para desarrollar la actividad contratada.
       </p>
       <p>
        C) De igual modo el Usuario se compromete, bajo su sola responsabilidad, a suministrar información completa, exacta y veraz sobre su actividad empresarial y sobre los servicios que ofrece a través del WEBSITE así como, en su caso, sobre sus experiencias en relación a las transacciones realizadas con el resto de Usuarios.
       </p>
       <p>
        D) El Usuario tiene expresamente prohibido las siguientes conductas que se describen a continuación:
       </p>
       <p>
        1. Crear identidades falsas, actuar en nombre de terceros sin el poder o legitimación suficiente y/o suplantar la identidad de otros.
       </p>
       <p>
        2. Introducir datos falsos y/o ofertas ficticias de servicios, debiendo ser todas sus ofertas totalmente exactas y veraces.
       </p>
       <p>
        3. Infringir derechos de terceros, en especial, derechos de propiedad industrial o intelectual.
       </p>
       <p>
        4. Faltar a la verdad, falsificar documentos, firmas, infringir las leyes, reglamentos o normativa de aplicación.
       </p>
       <p>
       5. Introducir ofertas sobre cosas u objetos que estén fuera del comercio.</p>
       <p>6. Registrarse y utilizar el WEBSITE sin tener la capacidad suficiente para ello.</p>
       <p>7. Manipular o alterar las herramientas del WEBSITE para comercializar con terceros u otros Usuarios en forma distinta a la indicada en las CGAU.</p>
       <p>
        8. No respetar las normas y procesos predeterminados para el acceso y uso del WEBSITE, emplear métodos que puedan causar daños al WEBSITE o a los sistemas de terceros.
       </p>
       <p>
        9. Utilizar EL WEBSITE para fines distintos a los que le son propios.
       </p>
       <p>10. Contactar con otros Usuarios del WEBSITE así como disponer de los datos facilitados por éstos para finalidades distintas de las establecidas en la CGAU y en las particulares que puedan regular el acceso a servicios ofrecidos a través del WEBSITE.

       </p>
       <p> 11. Enviar cartas en cadena y/o publicidad no solicitada, a menos que cuente con el consentimiento expreso del destinatario.</p>
       <p>F) El Usuario acepta no transmitir a través del WEBSITE información ni comercializar con material, productos o servicios de ningún tipo o naturaleza que sea ilegal, injurioso, difamatorio, dañino, vulgar, obsceno o en cualquier otro modo censurable.</p>
       <p>G) En el supuesto que el Usuario tenga acceso a información confidencial se compromete a utilizarla exclusivamente para las finalidades para las que se le fueron reveladas, siempre respetando dicha confidencialidad.</p>
       <p>H) GONINIS, según su propio criterio, podrá dar por terminado el acceso al WEBSITE, de forma inmediata, y sin necesidad de comunicación previa, si la conducta del Usuario no fuera acorde con las presentes CGAU.</p>
       <br />
       <h3>Intercambio de información de contacto.</h3>
       <br />
       <p>Los usuarios aceptan no publicar su dirección de email en el sitio, exceptuando el casillero de “email” del “Formulario de Registro”.</p>
       <p>Los usuarios no solo no podrán intercambiar su dirección de email sino que queda prohibido el intercambio de cualquier otro método de comunicación por fuera de la plataforma de GONINIS incluyendo número de teléfono, Skype, ICP, AIM, MSN Messenger, GTalk, Yahoo, Facebook o páginas web tanto personales como de su propio negocio o agencia.</p>
       <p>Los usuarios aceptan utilizar el sistema de mensajes de la plataforma GONINIS para comunicarse con otros usuarios.</p>
       <p>GONINIS provee, a todos los usuarios, una plataforma que incluye mensajería privada necesaria y suficiente para la negociación de cualquier proyecto. La única excepción a esta cláusula se dará a aquellos proyectos que ya hayan realizado el depósito en garantía (Escrow), este depósito habilita a los “profesionales” y a los “clientes” que compartan un proyecto a intercambiar información de contacto.</p>
       <p>El handy se compromete a informar inmediatamente a GONINIS si un cliente le solicita información de contacto o pagos de honorarios por fuera de la plataforma.</p>
       <p>El Cliente se compromete a informar inmediatamente a GONINIS si un handy le solicita información de contacto o pagos de honorarios por fuera de la plataforma de GONINIS.</p>
       <p>En caso de que el cliente intente hacer transacciones fuera de la plataforma, pierde todas las garantías que goninis provee y se cierra su cuenta de manera permanente.</p>
       <p>En caso de que el Handy intente hacer transacciones fuera de la plataforma, se da por terminada la relación de intermediario con él, dando de baja su perfil de manera permanente y perdiendo así cualquier oportunidad de ofertar en el futuro con goninis.</p>
       <p>Una vez que un proyecto haya sido creado y abierto en la plataforma GONINIS, los usuarios directos de la plataforma se comprometen a no negociar el precio de ese proyecto por fuera de la misma. La comisión de GONINIS es justa y está justificada por los servicios que proveemos.</p>
       <br />
       <h2>6.- Enlaces entre páginas Web</h2>
       <br />
       <p>6.1.- Aquellas personas o entidades que se propongan establecer un hiperenlace entre su página web y el WEBSITE (en adelante, el hiperenlace) deberán cumplir las condiciones siguientes:</p>
       <p>A) El hiperenlace únicamente permitirá el acceso a la home del WEBSITE, pero no podrá reproducirla de ninguna forma.</p>
       <p>B) No se creará un frame sobre las páginas del WEBSITE.</p>
       <p>C) No se realizarán manifestaciones o indicaciones falsas, inexactas o incorrectas sobre GONINIS, sus directivos, sus empleados y los servicios suministrados a través del WEBSITE.</p>
       <p>D) No se declarará ni se dará a entender que GONINIS ha autorizado el hiperenlace o que ha supervisado o asumido de cualquier forma los servicios ofrecidos o puestos a disposición desde la página web en la que se establece el hiperenlace.</p>
       <p>E) Excepción hecha de aquellos signos que formen parte del mismo hiperenlace, la página web en la que se establezca el hiperenlace no contendrá ninguna marca, nombre comercial, rótulo de establecimiento, denominación, logotipo, eslogan u otros signos distintivos pertenecientes a GONINIS.</p>
       <p>F) La página web en la que se establezca el hiperenlace no contendrá informaciones o contenidos ilícitos, contrarios a la moral y a las buenas costumbres generalmente aceptadas y al orden público, así como contenidos contrarios a cualesquiera derechos de terceros.</p>
       <p>El establecimiento del hiperenlace no implica, en ningún caso, la existencia de relaciones entre GONINIS y el propietario de la página web en la que se establezca, ni la aceptación y aprobación por parte de GONINIS de sus contenidos o servicios.</p>
       <p>6.2.- GONINIS pone a disposición de los Usuarios enlaces o links con el fin de facilitar el acceso a la información, servicios y demás contenidos disponibles en Internet. Los enlaces o links habilitados en este WEBSITE pueden conducir al Usuario a otros sitios y páginas web gestionadas por terceros, sobre los que GONINIS no ejerce ningún tipo de control.</p>
       <p>GONINIS no asume ningún deber de vigilar ni de verificar las informaciones o contenidos de los otros sitios o páginas web a los que quepa acceder mediante los hiperenlaces existentes en el WEBSITE. Asume, exclusivamente, el deber de suprimir del WEBSITE, con la mayor brevedad posible, las informaciones, contenidos o servicios que no se correspondan con la realidad, atenten contra cualquier normativa aplicable o puedan inducir a error o causar daño al Usuario.</p>
       <br />
       <h2>7.- Propiedad Industrial e Intelectual</h2>
       <br />
       <p>7.1. – El Usuario reconoce expresamente, a todos los efectos, que la información, signos, imágenes, diseños, logotipos, animaciones, vídeos, textos, así como los demás elementos y contenidos, incluidos sus servicios y aplicaciones informáticas, del WEBSITE están sujetos a derechos de propiedad industrial e intelectual de  GONINIS y/o de terceros titulares de los mismos que han autorizado debidamente su inclusión en el WEBSITE , por lo que no se les concede ningún tipo de derecho sobre ellos, salvo los que expresamente se reconozcan.</p>
       <p>7.2. –.Los Usuarios que accedan al WEBSITE pueden visualizar la información contenida en el mismo y efectuar descargas o reproducciones privadas a su sistema informático, siempre que los elementos reproducidos no sean cedidos posteriormente a terceros o se instalen en un servidor conectado a Internet o a una red local.</p>
       <p>7.3. – En consecuencia con lo dispuesto en el apartado anterior, el Usuario no estará facultado para, a título meramente enunciativo, distribuir, modificar, transformar, ceder poner a disposición del público o llevar a cabo cualquier otra actividad que no haya sido expresamente autorizada sobre los elementos y contenidos indicados anteriormente, incluidos los códigos informáticos de cualquiera de los elementos del WEBSITE.</p>
       <p>7.4. – El Usuario será directamente responsable de todas las consecuencias, daños y perjuicios que se deriven para GONINIS  y/o terceros de la infracción de cualquier obligación contenida en la presente cláusula.</p>
       <p>7.5. – El Usuario que proceda al envío de cualquier tipo de contenido al WEBSITE, asegura que ostenta los derechos necesarios para hacerlo, quedando exento GONINIS de cualquier responsabilidad sobre el contenido y legalidad de la información ofrecida.</p>
       <p>7.6. – La facilitación de contenidos por parte del Usuario a través del WEBSITE, mediante el uso del Servicio de Blog, supondrá la cesión a GONINIS con carácter gratuito de los derechos de explotación de propiedad intelectual e industrial de derivados de tales contenidos, con la máxima amplitud permitida por la legislación aplicable.</p>
       <p>7.7. – El Usuario reconoce a GONINIS el derecho de modificar los contenidos introducidos a fin de que se adecúen y sean compatibles con las características técnicas y estéticas del WEBSITE.</p>
       <p>7.8. – Los trabajos/proyectos encargados en GONINIS son de propiedad y autoría del contratante.</p>
       <p><strong>Para poder mostrar el trabajo finalizado a terceros e incluirlo en el portafolio profesional deberá solicitarse expresamente al contratante el permiso para hacerlo.</strong></p>
       <br />
       <h2>8.- Responsabilidad</h2>
       <br />
       <p>8.1. – Sin perjuicio de las limitaciones establecidas en la legislación vigente, GONINIS no se responsabiliza por los daños y perjuicios de toda naturaleza que puedan deberse a la falta de exactitud, exhaustividad, actualidad, así como a errores u omisiones de los que pudieran adolecer las informaciones contenidas en el WEBSITE u otros contenidos a los que se pueda acceder a través del mismo.</p>
       <p>8.2. – GONINIS no se hace responsable por los daños y perjuicios ocasionados por el uso indebido del servicio por parte de los Usuarios. Los Usuarios deberán abstenerse de realizar actos de cualquier tipo que contravengan la legislación aplicable.</p>
       <p>8.3. – GONINIS no estará obligada a reparar los daños o perjuicios, directos o indirectos, que sean ocasionados por una información incompleta o incorrecta y no veraz, suministrada por los Usuarios del WEBSITE, así como tampoco se hace responsable del comportamiento de los Usuarios, de sus posibles incumplimientos y/o de las posibles situaciones de insolvencia en las que puedan encontrarse.</p>
       <p>8.4. – GONINIS no estará obligada a reparar los daños o perjuicios, directos o indirectos, que sean consecuencia de servicios prestados por proveedores externos con las que GONINIS haya alcanzado acuerdos de colaboración o comerciales, en las que actúa únicamente como mero intermediario y que sean ajenos a la actividad propia del WEBSITE entre Usuarios registrados.</p>
       <p>8.5. – GONINIS no garantiza la disponibilidad, continuidad ni la infalibilidad del funcionamiento del WEBSITE y en, consecuencia, excluye, en la máxima medida permitida por la legislación vigente, cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a la falta de disponibilidad o de continuidad del funcionamiento del WEBSITE y de los servicios habilitados en el mismo, así como a los errores en el acceso a las distintas páginas web o a aquellas desde las que, en su caso, se presten dichos servicios.</p>
       <p>8.6. – GONINIS declina toda responsabilidad por los daños informáticos o de otro tipo que pudiera ocasionar al Usuario visitante en el acceso a los contenidos del WEBSITE. Por ello, GONINIS no garantiza la ausencia de virus u otros elementos lesivos que pudieran causar daños o alteraciones en el sistema informático, en los documentos electrónicos o en los ficheros del Usuario o de terceros.</p>
       <p>8.7. – En ningún caso será responsable GONINIS de los daños que pueda sufrir el Usuario en caso de que incumpla las presentes CGAU.</p>
       <p>8.8. – El Usuario será el único responsable en relación con la actividad que desarrolle, y en base a la cual ofrezca los productos y servicios que se comercialicen a través del WEBSITE, tanto en lo relativo a la gestión, como en relación con el cumplimiento de la normativa vigente en todo lo que le resulte de aplicación en atención al tipo de actividad que desarrolla, tales como, obtención de permisos, licencias, autorizaciones, etc. A estos efectos, se entenderá por gestión, todas las actividades relacionadas con la prestación del servicio contratado, así como cualquier otra actividad relacionada con el modelo de transacción que lleve a cabo a través del WEBSITE.</p>
       <p>8.9. – El Usuario será único y exclusivo responsable de los daños y perjuicios que se ocasionaren a GONINIS, a cualquier Usuario y/o tercero, que tengan causa en la mala fe, ilicitud, falsedad, inexactitud, falta de diligencia, incumplimiento de cualquier información, contenido y/o del objeto de cualquier transacción, compromisos o acuerdos que asuma con otro Usuario o Usuario a raíz de la utilización del WEBSITE o que se derive de la misma.</p>
       <p>8.10. – Si GONINIS fuera declarada responsable de cualquier daño o perjuicio con causa a los anteriores extremos en un procedimiento judicial o extrajudicial, por un Juzgado, Tribunal o Ente Público administrativo competente, podrá repetir contra el Usuario todas las cantidades que haya tenido que abonar y soportar, incluido el daño emergente y el lucro cesante, y cualquier coste o gravamen que hubiera tenido que afrontar, incluidos impuestos, tasas, abogados, procuradores, peritos, arbitrajes, viajes, estancias, y cualquier otro.</p>
       <p>8.11. – GONINIS se reserva el derecho de comunicar la información confidencial que los Usuarios le hayan comunicado cuando venga impuesto por ley, reglamento, normativa, ordenanza y/o cualquier otro mandato legal, judicial o solicitud gubernamental.</p>
       <br /><h2>9.- Protección y funcionamiento del WEBSITE</h2>
       <br />
       <p>9.1. – GONINIS, mantendrá operativo el WEBSITE durante todo el año, las 24 horas del día, siempre que el estado de la técnica lo permita.</p>
       <p>9.2. – Asimismo, GONINIS se reserva el derecho de modificar o interrumpir, en todo o en parte, el acceso al sistema temporalmente, cuando lo requiera el servicio de mantenimiento, actualización o reparación del sistema o el servidor de Internet, sin necesidad de haberlo notificado al Usuario.</p>
       <p>9.3. – Si el Usuario detectara alguna anomalía, interferencias de terceros, errores del sistema o mal funcionamiento del WEBSITE, deberá notificarlo a GONINIS para que esta proceda a su solución.</p>
       <br /><h2>10.- Baja del servicio</h2><br />
       <p>Para darse de baja de la plataforma, es necesario enviar un correo electrónico a la dirección <a href="mailto:soporte@goninis.com">soporte@goninis.com</a>, indicando los motivos por los que se quiere dejar de usar el servicio.</p>
       <br /><h2>11.- Legislación Aplicable y Jurisdicción</h2><br />
       <p>El acceso y utilización del WEBSITE así como la interpretación, cumplimiento y ejecución de las presentes CGAU se sujetará a lo establecido por las leyes españolas.</p>






      </section>
    </section>
  </div>
</div>