<div id="gn">
  <div class="gn-inner-body conviertete">
    <%= render partial: "shared/left-menu" %>
    <section id="gn-content">
      <section class="conviertete body">
        <div class="clickable faq"><%= link_to "", como_path %></div>
        <div class="clickable tareas del-hogar"><%= link_to "", registrate_path %></div>
        <div class="clickable tareas profesionales"><%= link_to "", registrate_path %></div>
      </section>
    </section>
  </div>
</div>