<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
  <div id="gn">
    <header class="gn-header">

    </header>
    <div id="gn-body">
      <%= @post.description.html_safe %>

    </div>
    <footer class="gn-footer"></footer>
  </div>
<p></p>
</body>
</html>