<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
  <div id='gn'>
    <header class='gn-header'></header>
    <div id='gn-body'>
      <aside id='gn-sidebar'>
        <div id='gn-logo'></div>
        <nav id='gn-menu-nav'>
          <ul>
            <li><a href="#" class='gn-text-highlight'><span>SEGURIDAD</span><br/>nuestra tarea No.1</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Como funciona?</a></li>
            <li><a href="#">Por qu&eacute; utilizar goninis?</a></li>
            <li><a href="#">Promociones</a></li>
            <li><a href="#">Convi&eacute;rtete en Handy</a></li>
          </ul>
        </nav>
      </aside>
      <section id='gn-content'>hahahaha</section>
    </div>
    <footer class='gn-footer'></footer>
  </div>
</body>
</html>