  <div id="gn">
    <div id="gn-body">
      <%= render partial: "shared/left-menu" %>
      <section id="gn-content">
        <section id="gn-content-mailchimp">
          <div id="gn-content-mailchimp-login">
            <span class="mailchimp-message">Te avisaremos cuando estemos en tu comunidad</span>
            <span class="mailchimp-login">Si ya tienes un usuario<a href="#"> haz click aqu&iacute;</a></span></div>
            <div id="gn-content-mailchimp-form">
              <%= render 'form'%>
            </div>
        </section>
        <section id="gn-content-video"><!--<img src="http://img.youtube.com/vi/_mO79hZaA2s/maxresdefault.jpg" alt="" class="video-thumbnail"/>--><!--<iframe class="video-url" src="http://www.youtube.com/embed/_mO79hZaA2s" frameborder="0" allowfullscreen></iframe>-->
          <div class="gn-content-video-border-left"></div>
          <div class="video-popup"><h1>&iquest;Necesitas m&aacute;s tiempo en tu d&iacute;a?,</h1><h4>lo hacemos posible</h4>
          <div class="video-play"></div><span>(aqu&iacute; te explicamos)</span></div>
          <div class="gn-content-video-border-right"></div>
        </section>
      </section>
    </div>
  </div>