<div id="gn">
  <div class="gn-inner-body nosotros">
    <%= render partial: "shared/left-menu" %>
    <section id="gn-content">
      <div class="nosotros section header">&nbsp;</div>
      <section class="nosotros body">
        <div class="sergio">
          <div class="role">&nbsp;</div>
        </div>
        <div class="nismet">
          <div class="role">&nbsp;</div>
        </div>
        <div class="guillermo">
          <div class="role">&nbsp;</div>
        </div>
        <div class="carlos">
          <div class="role">&nbsp;</div>
        </div>
      </section>
    </section>
  </div>
</div>
<script>
    (function($) {
        $(function() {
            $('.nosotros.body > div').mouseover(function (evt) {
                $('.nosotros.body').height('600px');
            });
            $('.nosotros.body > div').mouseout(function (evt) {
                $('.nosotros.body').height('300px');
            });
        });
    })(jQuery);
</script>