<div id="gn">
  <div class="gn-inner-body porque">
    <%= render partial: "shared/left-menu" %>
    <section id="gn-content">
      <section class="porque body">
        <a href="#">
          <div class="empresa">&nbsp;</div>
        </a>
        <a href="#">
          <div class="handy">&nbsp;</div>
        </a>
      </section>
    </section>
  </div>
</div>