<div id="gn">
  <div class="gn-inner-body porque">
    <%= render partial: "shared/left-menu" %>
    <section id="gn-content">
      <section class="porque handy body">&nbsp;</section>
      <div id="why_user"><a href="/porque/usuario"></div>
    </section>
  </div>
</div>