<div id="gn">
  <div class="gn-inner-body porque">
    <%= render partial: "shared/left-menu" %>
    <section id="gn-content">
      <section class="porque usuario body">&nbsp;</section>
    </section>
  </div>
</div>