<div id="gn">
  <div class="gn-inner-body seguridad">
    <%= render partial: "shared/left-menu" %>
    <section id="gn-content">
      <div class="seguridad section header">&nbsp;</div>
      <section class="seguridad body">
        <div class="info"><%= link_to "", como_path %></div>
        <div class="li col_1">&nbsp;</div>
        <div class="li col_2">&nbsp;</div>
        <div class="li col_3">&nbsp;</div>
        <div class="li row_2 col_1">&nbsp;</div>
        <div class="li row_2 col_2">&nbsp;</div>
        <div class="li row_2 col_3">&nbsp;</div>
        <div class="popup_fianza">&nbsp;</div>
      </section>
    </section>
  </div>
</div>