<!DOCTYPE html>
<html>
<head>
  <title>GnLanding</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="gn-header"></header>
  <div id="gn-body">
    <%= yield %>
  </div>
  <footer class="gn-footer"></footer>
</body>
</html>
